@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --fonte-secundaria: 'Montserrat', sans-serif;

  }



/* --- SCROLLBAR BELLA MASSA --- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FEA855;
  border-radius: 10px;
  border: 1px solid #fff5f02c;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#loaderAnimate {
    position: fixed;
    inset: 0;
    background: #FEA855;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.loader-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:12px;
  margin-top: 6px;
}

.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  & .loader-icon{
    width: 60px;
    height: 65px;
    object-fit: cover;
  }
}





  :root{
    --cor-verde:#7DC441;
    --cor-amarela:#FFBC3F;
    --cor-rosa:#F693AF;
    --cor-laranja:#FEA855;
    --cor-preta:#141414;
    --fonte-principal: 'Momo Trust Display', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
  }


  /* Estilo base = Mobile */

  body{
    height: 100vh;
    background-image: url(../img/fundo-bella-massa.png);
    background-size: cover;
    background-position: center;
  }
  
  main{
    height: 100vh;
    padding: 0px 10px;
    
  }
  header{
    background-image: url(../img/fundo-bella-massa.png);
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius:0px 0px 20px 20px;
    position: sticky;
    top:0;
    z-index:1;
    box-shadow: 0px 10px 12px 0px #201919cf;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  nav .logo{
    width:90px;
    height:90px;

    & img{
      width:100%;
      height: 100%;
      object-fit:cover;
    }
    & img:hover{
      cursor:pointer;
    }
  }

  

  .dados{
    margin-top: 3px;
    & .dados-body{
      position: relative;
      font-family: var(--fonte-secundaria);
      font-size:12px;
      letter-spacing: 1px;
      color: var(--cor-laranja);
      font-weight: 500;
      }

  }

.idioma{
    position:absolute;
    top:75%;
    right:0;
    z-index:2;
}

  /* IDIOMAS */
.lang-option {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #000;
  color: #ddd;
  font-weight: 500;
}


/* Vidro fosco */
.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
}

/* Card animado */
.qr-card {
  background: rgba(255,255,255,0.25);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  animation: scaleIn 0.4s ease;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}





.linha{
  margin-bottom: 15px;
  height: 130px;
  border-radius:0px 0px 20px 20px;
  cursor:pointer;
}
.linha:hover{
  transform: scale(1.02);
  transition: 0.3s all ease;
}

.col{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cat-nome{
  font-weight: bold;
  color:white;
  font-family: var(--fonte-principal);
}

.cat-imagem{
  position: relative;
  
  & img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}
.cat-imagem img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cat-imagem img.ativo {
  opacity: 1;
}

.nome-left, .imagem-left{
  border-radius: 0px 0px 0px 20px;
}
.nome-right, .imagem-right{
  border-radius: 0px 0px 20px 0px;
}


.admin{
  display:flex;
  gap:20px;
  & ion-icon{
    font-size: 22px;
    color: white;
  }
  & ion-icon:hover{
    cursor:pointer;
  }
}


/* Vidro fosco / blur */

.modal-content {
  background: rgba(54, 32, 32, 0.15) !important;
  backdrop-filter: blur(25px) !important;
  -webkit-backdrop-filter: blur(25px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  
}

/* Imagens do slider */
.slide-img {
  height: 35vh;
  object-fit: cover;
  border-radius: 15px;
}

/* Título animado */
.animated-title {
  color: white;
  font-family: var(--fonte-secundaria);
  font-size: 18px;
  font-weight: bold;
  animation: slideDown 0.8s ease forwards;
  opacity: 0;
}

@keyframes slideDown {
  from { transform: translateY(-40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

/* Texto animado */
.quem-somos-text{
  padding:10px 20px;
}
.quem-somos-text h2{
  font-size: 14px;
  color: white;
}
.fade-in {
  font-family: var(--fonte-secundaria);
  font-size: 13px;
  color: var(--cor-laranja);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.delay-1 { animation-delay: 0.5s; }
.delay-2 { animation-delay: 1s; }
.delay-3 { animation-delay: 1.5s; }
.delay-4 { animation-delay: 2s; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.map-container{
  margin-top:20px;
  margin-bottom: 30px;
  width:100%;
  height:300px;
  border-radius:15px;
  overflow:hidden;
  box-shadow: 0px 4px 6px 0px #000000b8;
  & h2{
    font-family: var(--fonte-secundaria);
    font-size:14px;
    color:white;
    margin-bottom:10px;
  }
}



footer{
  margin-top:30px;
  padding-bottom:5px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & p{
    text-decoration:none;
    color:var(--cor-laranja);
    font-size:15px;
    font-weight:bold;
    border:1px solid var(--cor-laranja);
    border-radius:0px 0px 10px 10px;
    padding:4px 10px;
    font-family: var(--fonte-secundaria);
  }
  & p:hover{
    cursor:pointer;
    background-color:var(--cor-laranja);
    color:white;
    transition: 0.3s all ease;
  }
  & .joel-Nogueira{
    color:var(--cor-laranja);
    border:none;
  }
}
.logo-footer{
  width:80px;
  height:80px;
  cursor:pointer;
  & img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

}

.pin-input {
  width: 100%;
  padding: 15px;
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #444;
  background: #141414;
  color: var(--cor-laranja);
  letter-spacing: 3px;
  outline: none;
  transition: .25s;
}

.pin-input:focus {
  border-color: var(--cor-laranja);
}

.btn-pin {
  font-family: var(--fonte-secundaria);
  width: 100%;
  height:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 12px;
  padding: 8px;
  background: var(--cor-verde);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  transition: .25s;
}

.btn-pin:hover {
  background: var(--cor-laranja);
}


/* Animação de erro */
.shake {
  animation: shake .3s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  75% { transform: translateX(6px); }
}

.recuperar-pin {
  color:  var(--cor-laranja);
  display:flex;
  justify-content:start;
  align-items:center;
  & ion-icon{
    font-size: 22px;
    cursor:pointer;
  }
}
.alert{
  display:none;
  margin:0 auto;
  padding:0px;
  color: #e01c1cff;
  font-family: var(--fonte-secundaria);
  font-size:12px;
  font-weight:bold;
  text-align:center;
  transition:0.3s all ease;
}
.alert2{
  color: var(--cor-laranja);
}



.listaPrato{
    display: flex;
    align-items: center;
    background-color:#333 ;
    margin-bottom: 15px;
    padding: 10px;
    height: auto;
}
.listaPrato:hover{
    transform: scale(1.02);
    transition: 0.3s all ease;
}


.prato-info {
  word-wrap: break-word;  
  white-space: normal;    
  overflow-wrap: break-word;
  align-items:start;
  font-family: var(--fonte-secundaria);
  text-align: start;
  color: #fff;

  & h4{
    font-size:15px;
    font-family: var(--fonte-principal);
  }
  & p{
    font-size:13px;
    color:var(--cor-laranja);
  }
}
.prato-imagem{
    display:flex;
    justify-content:center;
    align-items:center;

    & img{
      height:100px;
      width:150px;
      object-fit:cover;
      border-radius:8px;
      cursor:pointer;

    }

  }



  /*MODAL DO ZOOM DO PRATO*/
  /* Modal invisível inicialmente */
  /* --- MODAL DE ZOOM --- */


/* Botão três pontinhos */
/* --- MODAL DE ZOOM --- */
.zoom-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(1px);
  --webkit-backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.zoom-modal-content {
  max-width: 70%;
  max-height: 70%;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  animation: zoomFade 0.25s ease;
}

@keyframes zoomFade {
  from { opacity: 0; transform: scale(0.8); }
  to   { opacity: 1; transform: scale(1); }
}

/* 3 pontinhos */
.share-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  padding-bottom: 2px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  color: #FEA855;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  backdrop-filter: blur(3px);
  background-color: #dddddd63;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

/* MENU DE PARTILHA */
.share-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  transition: 0.3s ease;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.2);
  z-index: 1100;
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  color: #FEA855;

}

.share-menu.show {
  bottom: 0;
}

.share-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;

}

.close-share {
  border: none;
  background: none;
  cursor: pointer;
}

.share-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FEA855;
}

.share-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #000;
  background: #FEA855;
  font-weight: 500;
  transition: 0.2s;
}

.share-item:hover {
  background: #ececec;
}
