@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  :root{
    --cor-verde:#7DC441;
    --cor-amarela:#FFBC3F;
    --cor-rosa:#F693AF;
    --cor-laranja:#FEA855;
    --cor-preta:#141414;
    --fonte-principal: 'Momo Trust Display', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
  }

  /* Estilo base = Mobile */

  body{
    height: 100vh;
    background-image: url(../../img/fundo-bella-massa.png);
    background-size: cover;
    background-position: center;
  }
  
  main{
    height: 100vh;
    padding: 0px 10px;
  }
  header{
    background-image: url(../../img/fundo-bella-massa.png);
    background-size: cover;
    background-position: center;
    padding: 10px 20px;
    margin-bottom:10px;
    border-radius:0px 0px 20px 20px;
    position: sticky;
    top:0;
    z-index:1;
    box-shadow: 0px 10px 12px 0px #201919cf;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }
  nav .logo{
    width:90px;
    height:90px;

    & img{
      width:100%;
      height: 100%;
      object-fit:cover;
    }
    & img:hover{
      cursor:pointer;
    }
  }



  .admin{
  display:flex;
  gap:20px;
  & ion-icon{
    font-size: 22px;
    color: white;
  }
  & ion-icon:hover{
    cursor:pointer;
  }
}
  .config{
  display:flex;
  padding-left: 10px;
  & ion-icon{
    font-size: 22px;
    color: white;
    margin-right:15px;
  }
  & ion-icon:hover{
    cursor:pointer;
  }
}




.pin-input , .telefone-input {
  width: 100%;
  padding: 15px;
  font-size: 13px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #444;
  background: #141414;
  color: var(--cor-laranja);
  letter-spacing: 3px;
  outline: none;
  transition: .25s;

}

.pin-input:focus {
  border-color: var(--cor-laranja);
}
.telefone-input:focus {
  border-color: var(--cor-laranja);
}

.btn-pin {
  font-family: var(--fonte-secundaria);
  width: 100%;
  margin-top: 12px;
  padding: 8px;
  background: var(--cor-verde);
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  transition: .25s;
}

.btn-pin:hover {
  background: var(--cor-laranja);
}


/* Animação de erro */
.shake {
  animation: shake .3s;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  75% { transform: translateX(6px); }
}


.input-busca {
  width: 100%;
  padding: 7px;
  font-size: 14px;
  background: var(--cor-preta);
  border: 1px solid #333;
  border-radius: 8px;
  color: var(--cor-laranja);
  outline: none;
  transition: .25s;
  font-family: var(--fonte-secundaria);
}
.input-busca:focus {
  border-color: var(--cor-laranja);
}

.card-form {
  background: #111;
  padding: 18px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--cor-laranja);
}

.form-group label {
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  border: 1px solid #333;
  background: #1a1a1a;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
  outline: none;
  transition: .25s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: var(--cor-laranja);
}

.btn-submit {
  background: linear-gradient(135deg, #7cc441ce, #7DC441);
  border: none;
  padding: 5px;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: .25s;
  font-family: var(--fonte-secundaria);
}

.btn-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px #73ff005d;
}

.btn-submit:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Preview da imagem */
.img-preview {
  margin-top: 8px;
  width: 100%;
  height: 160px;
  background: #000;
  border: 1px dashed #444;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #555;
  font-size: 14px;
}

.img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-content{
  background-color: var(--cor-preta);
  color:var(--cor-laranja);
  font-family: var(--fonte-secundaria);
}




.lista-pratos {
  display: grid;
  gap: 12px;
  margin-top: 15px;
}

.prato-card {
  background: #111;
  border: 1px solid #333;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px;
  gap: 12px;
  color: #fff;
  font-family: var(--fonte-secundaria);
}

.prato-card img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}

.prato-info {
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  & h4{
    font-size:13px;
    font-family: var(--fonte-principal);
  }
  & p{
    font-size:11px;
    color:var(--cor-laranja);
  }
}
.prato-info .categ {
    display: block;
    font-size: 11px;
    color: #aaa;
  }


.prato-acoes{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.prato-acoes button {
  margin-left: 6px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.btn-editar { background: #0a84ff; color: #fff; }
.btn-excluir { background: #ff3b30; color: #fff; }



.btn-novo-prato {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #7cc441ce, #7DC441);
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
  letter-spacing: 0.3px;
  box-shadow: 0 0 0px transparent;
  font-family: var(--fonte-secundaria);
}

.btn-novo-prato:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px #73ff005d;
}

.btn-novo-prato:active {
  transform: translateY(0);
  box-shadow: none;
}

